{% extends "base.html" %}
{%load static%}
{% block script %}
<script src={% static 'js/window.js' %}></script>
<script>
    function preload(){
        this.load.scenePlugin({
            key: 'rexuiplugin',
            url: 'https://raw.githubusercontent.com/rexrainbow/phaser3-rex-notes/master/dist/rexuiplugin.min.js',
            sceneKey: 'rexUI'
        })

        //skills
        this.load.image('skill1', "{% static '/resource/ui/skills/skills/skill1.png'%}")
        this.load.image('skill2', "{% static '/resource/ui/skills/skills/skill2.png'%}")
        this.load.image('skill3', "{% static '/resource/ui/skills/skills/skill3.png'%}")
        this.load.image('skill4', "{% static '/resource/ui/skills/skills/skill4.png'%}")
        this.load.image('skill5', "{% static '/resource/ui/skills/skills/skill5.png'%}")
        this.load.image('skill6', "{% static '/resource/ui/skills/skills/skill6.png'%}")

        //ui
        this.load.image('back', "{% static '/resource/ui/back2.png'%}")
        this.load.image('eyeui', "{% static '/resource/ui/skills/ui/눈.png'%}")
        this.load.image('noseui', "{% static '/resource/ui/skills/ui/코.png'%}")
        this.load.image('mouthui', "{% static '/resource/ui/skills/ui/입.png'%}")
        this.load.image('Rect', "{% static '/resource/ui/skills/ui/Rect.png'%}")
        this.load.image('confirm', "{% static '/resource/ui/skills/ui/확정.png'%}")
    }

    function create(){

        this.add.rectangle(window_width/2, window_height*0.4, window_width*0.8, window_height*0.65, 0xD9D9D9)
        back = this.add.image(30,30,'back').setInteractive({cursor:'pointer'});
        back.on('pointerover', function(event){
            this.setTint(0x50bcdf)
        })
        back.on('pointerout', function(event){
            this.clearTint()
        })
        back.on('pointerdown', function(event){
            window.history.back()
        })

        //confirm = this.add.image(150,190,'confirm').setScale(0.60).setInteractive({cursor:'pointer'});
        //confirm.visible = false

        //ui
        eyeui = this.add.image(window_width/4*1,window_height*0.83, 'eyeui').setScale(0.35).setInteractive();
        noseui = this.add.image(window_width/2,window_height*0.83, 'noseui').setScale(0.35).setInteractive();
        mouthui = this.add.image(window_width/4*3,window_height*0.83, 'mouthui').setScale(0.35).setInteractive();
        typeui = [eyeui, noseui, mouthui];

        //skills
        skill1 = this.add.image(window_width*0.3,350, 'skill1').setScale(0.7).setInteractive();
        skill2 = this.add.image(window_width*0.5,350, 'skill2').setScale(0.7).setInteractive();
        skill3 = this.add.image(window_width*0.7,350, 'skill3').setScale(0.7).setInteractive();
        skill4 = this.add.image(window_width*0.3,430, 'skill4').setScale(0.7).setInteractive();
        skill5 = this.add.image(window_width*0.5,430, 'skill5').setScale(0.7).setInteractive();
        skill6 = this.add.image(window_width*0.7,430, 'skill6').setScale(0.7).setInteractive();
        s = [skill1, skill2, skill3, skill4, skill5, skill6];

        skill1_rect = this.add.image(window_width*0.3, 350, 'Rect').setScale(0.9);
        skill2_rect = this.add.image(window_width*0.5, 350, 'Rect').setScale(0.9);
        skill3_rect = this.add.image(window_width*0.7, 350, 'Rect').setScale(0.9);
        skill4_rect = this.add.image(window_width*0.3, 430, 'Rect').setScale(0.9);
        skill5_rect = this.add.image(window_width*0.5, 430, 'Rect').setScale(0.9);
        skill6_rect = this.add.image(window_width*0.7, 430, 'Rect').setScale(0.9);

        confirm = this.rexUI.add.roundRectangle(window_width/2,window_height*0.25,150,70,7,0xed2b45).setInteractive({cursor:'pointer'})
        confirmText = this.add.text(window_width*0.45,window_height*0.24, "확정", {color:'white', font:'450 20px Arial'})
        confirm.visible=false
        confirmText.visible=false

        skill1_rect.visible = false
        skill2_rect.visible = false
        skill3_rect.visible = false
        skill4_rect.visible = false
        skill5_rect.visible = false
        skill6_rect.visible = false

        skill_count = [false, false, false, false, false, false]

        // true 세기
        let count = 0;
        for(let loop = 0; loop < skill_count.length; loop++) {
        if(skill_count[loop] === true)  {
            count++;
            }
        } console.log(`count : ${count}`);

        this.input.on('gameobjectdown', function(pointer, gameObject){
            if(gameObject==skill1){
                skill1_rect.visible= !skill1_rect.visible;
                skill_count[0] = !skill_count[0];
            }
            if(gameObject==skill2){
                skill2_rect.visible= !skill2_rect.visible;
                skill_count[1] = !skill_count[1];
            }
            if(gameObject==skill3){
                skill3_rect.visible= !skill3_rect.visible;
                skill_count[2] = !skill_count[2];
            }
            if(gameObject==skill4){
                skill4_rect.visible= !skill4_rect.visible;
                skill_count[3] = !skill_count[3];
            }
            if(gameObject==skill5){
                skill5_rect.visible= !skill5_rect.visible;
                skill_count[4] = !skill_count[4];
            }
            if(gameObject==skill6){
                skill6_rect.visible= !skill6_rect.visible;
                skill_count[5] = !skill_count[5];
            }

            // 선택된 스킬 수 세기
            let count = 0;
            for(let loop = 0; loop < skill_count.length; loop++) {
            if(skill_count[loop] === true)  {
                count++;
                }
            } console.log(`count : ${count}`);

            if(count==3){
                console.log('선택완료');

                confirm.visible = true
                confirmText.visible=true
                confirm.on('pointerover', function(event){
                    this.setTint(0x50bcdf)
                })
                confirm.on('pointerout', function(event){
                    this.clearTint()
                })
                confirm.on('pointerdown', function(event){
                    window.location.href = `/mainapp/main`
                })
            } else {
                confirm.visible = false
                confirmText.visible=false
            }

        })
        
        this.input.on('gameobjectdown', function(pointer, gameObject){
            if(gameObject==eyeui){choicetype(eyeui, typeui)}
            if(gameObject==noseui){choicetype(noseui, typeui)}
            if(gameObject==mouthui){choicetype(mouthui, typeui)}
        })

        function choicetype(icon, array){
            for(var i=0;i<array.length;i++){
                icon.setTint(0x50bcdf);
                if(icon!=array[i]){
                    array[i].clearTint();
                }
            }
        }
    }

    
    function update(){
    }

    let config = {
        type: Phaser.AUTO,
        width: window_width,
        height: window_height,
        backgroundColor:'#ffffff',
        scene: {
          preload: preload,
          create: create,
          update:update,
        },
        scale: {
            mode: Phaser.Scale.FIT,
            autoCenter: Phaser.Scale.CENTER_BOTH,
        },
        pixelArt: false,
        render:{
          antialias: true
        },
      }
      let game =  new Phaser.Game(config)
</script>
{% endblock script %}